@charset "utf-8";
i{
	font-style: normal;
}
.clear{
	clear: both;
}
footer{
	width: 100%;
}
footer .up{
	width: 1000px;
	margin: 0 auto;
}
footer .up .cont{
	overflow: hidden;
	
}
footer .up .cont .l1{
	margin-right: 75px;
	float: left;
	padding-top: 80px;
}
footer .up .cont .l1 span{
	display: inline-block;
	vertical-align: middle;
}
footer .up .cont .l1 .s1{
	background-image: url(../img/tsd.png);
	width:36px;
	height: 36px;
}
footer .up .cont .l1 .i1{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #2c2b2b;
	margin-left: 10px;
}
footer .up .cont .l1 .s2{
	background-image: url(../img/tmkl.png);
	width:36px;
	height: 36px;
}
footer .up .cont .l1 .s3{
	background-image: url(../img/tnk.png);
	width:36px;
	height: 36px;
}
footer .up .cont .l1 .s4{
	background-image: url(../img/tcxm.png);
	width:34px;
	height: 34px;
}
footer .up .cont .l2{
	float: right;
	padding-top: 66px;
}
footer .up .cont .l2 .p1{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #2c2b2b;
	text-align: right;
}
footer .up .cont .l2 .p2{
	font-family: "微软雅黑";
	font-size: 16px;
	color: #d63a3b;
	text-align: right;
	margin-top: 10px;
}
footer .up .cont .l2 .p3{
	width: 135px;
	height: 40px;
	background:#d63a3b;
	text-align: center;
	margin-top: 20px;
}
footer .up .cont .l2 .p3 .s5{
	display: inline-block;
	vertical-align: middle;
	background-image: url(../img/kf.png);
	width:24px;
	height: 23px;
}
footer .up .cont .l2 .p3 .i2{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #FFFFFF;
	margin-left: 6px;
	line-height: 40px;
	text-align: center;
}
footer .down{
	width: 100%;
	background: #d2d2d2;
	margin-top: 15px;
}
footer .down .one{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
footer .down .one ol{
	float: left;
	margin-top: 50px;
	margin-right: 100px;
}
footer .down .one ol dt a{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #2c2b2b;
	line-height: 30px;
}
footer .down .one ol dd a{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #706e6e;
	line-height: 25px;
}
footer .down .one div{
	float: right;
	margin-top: 60px;
}
footer .down .one .ew2{
	margin-right: 75px;
}
footer .down .one div p{
	text-align: center;
}
footer .down .one div p:nth-child(2){
	font-family: "微软雅黑";
	font-size: 12px;
	color: #2c2b2b;
}
footer .down .two{
	width: 1100px;
	height: 1px;
	background: #e1e1e1;
	margin: 0 auto;
	margin-top: 35px;
}
footer .down .three{
	margin: 0 auto;
	width: 750px;
	margin-top: 30px;
}
footer .down .three span{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #706e6e;
	margin: 0 10px;
}
footer .down .three p{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #706e6e;
	padding: 10px 0 20px 0 ;
}
